.market-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding-left:7rem;
    padding-right:7rem;
    justify-content: space-between;
  }
  

.dropdown-container{
    position: fixed;
    top:5rem;
}

.cards-container{
    min-height: 65vh;
    display: flex;
    margin-top:11%;
    gap:60px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding:20px;
    /* border: 1px solid green; */
    width:100%;
}

.productInputToggle{
    position: fixed;
    bottom:3%;
    right:3%;
    color:var(--color_4);
    cursor: pointer;
    font-size: 40px;
}